.App{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}

.todoContainer{
    padding: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 3px;
    background-color: #fff;
}